* {
    margin: 0;
    box-sizing: border-box;
    color: #555555;
}

a{
    text-decoration: none;
}

h2{
    font-weight: 500;
    margin-top: 15px;
    font-size: 1.4rem;
    text-align: center;
}



.navbar {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* position: sticky; */
}
.dropdown .app-heading{
    cursor: pointer;
}
.content {
    position: absolute;
    display: none;
}

.text-area {
    /* position: relative; */
    margin: 30px 40px 0px 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

/* #input-field{
    position: relative;
    left: 80px;
} */
/* #output{
    position: relative;
    right: 100px;
} */
textarea {
    padding: 13px;
    border-radius: 5px;
    width: 350px;
    height: 300px;
}

@media (max-width: 936px) {
    .text-area {
        grid-template-columns: 1fr;
    }
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-encode {
    margin-right: 20px;
}

.btn-encode {
    width: 100px;
    background-color: #276ef1;
    font-size: 16px;
    line-height: 1.4rem;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
}

.btn-decode {
    width: 100px;
    background-color: rgb(224, 24, 24);
    font-size: 16px;
    line-height: 1.4rem;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
}


.app-heading{
    font-size: 1.6rem;
}

.dropdown{
    position: relative;
    font-size: 1.2rem;
}

.dropdown, .app-heading{
    cursor: pointer;
}

.dropdown:hover .content{
    display: block;
}

.content a{
    width: 190px;
    margin-bottom: 1px;
    display: block;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 0px 10px;
    line-height: 30px;
}

.content a:hover{
    color: #276ef1;
    background: wheat;
}

.dropdown-img{
    width: 50px;
}
